################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

# Sistema Operacional
# Arquivos de sistema do Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Lixeira do sistema
$RECYCLE.BIN/

# Arquivos temporários do Windows
*.cab
*.msi
*.msm
*.msp
*.lnk

# Arquivos do Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# Pastas de build e output
bin/
obj/

# Dependências do NuGet
*.nupkg
# Pasta global do NuGet
packages/
# Caches do NuGet e Temp
.nuget/

# Arquivos de publicação de instalação
publish/

# Build results
# Qualquer pasta e arquivo gerado automaticamente em builds
*.dll
*.exe
*.app
*.elf
*.ilk
*.pdb
*.meta
*.obj
*.pch
*.map
*.tmp
*.log
*.lib
*.exp
*.bak
*.dmp

# Arquivos temporários do Visual Studio
.DS_Store
*.tmp
*.temp

# Arquivos de banco de dados locais
*.mdf
*.ldf

# Arquivos gerados por testes
TestResults/
